<div class="row search" ng-show="$ctrl.toggleView">

    <h3 class="col-xs-12" ng-if="$ctrl.movies[0].Response == 'False'">
        Sorry, but OMDb could not find any results for you.
    </h3>

    <div ng-if="!$ctrl.movies[0].Response == 'False'" ng-repeat="movie in $ctrl.movies">
        {{$ctrl.movies}}
        <div class="clearfix" ng-if="$index % 6 == 0"></div>
        <div class="col-sm-2">
            <div class="panel panel-primary">
                <div class="panel-heading search__title">
                    {{movie.Title}} ({{movie.Year}})
                </div>
                <div class="panel-body">
                    <div class="row">
                       <img ng-src="{{movie.Poster}}" class="search__image">
                    </div>
                    <div class="row search__button-container">
                        <button class="btn btn-default" ng-click="$ctrl.searchById(movie.imdbID)">
                            <a class="search__button-text">Movie Details</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<single-panel-layout result="$ctrl.result" view="$ctrl.toggleView" show-form="$ctrl.showForm" ng-hide="$ctrl.toggleView"></single-panel-layout>