.search {
	margin-top: 20px;
}

.search__image {
	width: 100%;
	margin-bottom: 15px;
}

.search__button-container {
	text-align: center;
}

.search__button-text, .search__button-text:hover, .search__button-text:active,
.search__button-text:link, .search__button-text:visited {
	text-decoration: none;
	color: white;
}