<form name="searchForm" ng-submit="$ctrl.search($ctrl.query)">
	<legend>Search the Open Movie Database!</legend>
	<div class="row">
		<div class="form-group col-xs-4">
		 	<label for="searchQuery" class="control-label">Search Query</label>
		 	<input type="text" class="form-control" placeholder="Lord of the Rings" ng-model="$ctrl.query.searchQuery">
		</div>
	</div>
	<div class="row">	
		<div class="form-group">
		  <div class="col-xs-2">
		    <button type="submit" class="btn btn-default">Search</button>
		  </div>
		</div>
	</div>
</form>
<panel-layout movies="$ctrl.movies"></panel-layout>